@charset "UTF-8";

h1 {
	font-family: 'Sriracha', cursive;
	background-color: orange;
	color: white;
	text-align: center;
}

img {
	float: left;
	height: 165px;
	width: 200px;
}

section.blue {
	color: blue;
	position: relative;
	top: -10px;
}

hr.blue {
	background-color: blue;
	height: 15px;
	position: relative;
	left: -1px;
	z-index: -1;
}

hr.blue2 {
	background-color: blue;
	height: 15px;
	position: relative;
	top: -30px;
}

nav {
	background-color: rgba(124, 177, 190, 0.664);
	position: relative;
	top: -21px;
	height: 30px;
}

p.desplazado {
	position: relative;
	top: -15px;
	font-weight: bold;
}

a {
	border: 1px solid black;
}