@charset "UTF-8";


body {
	border: 3px solid orange;
	border-bottom: 25px solid orange;
	margin: 0px;
	background-color: orange;
}

h1 {
	font-family: 'Sriracha';
	background-color: orange;
	color: white;
	text-align: center;
	margin: -1px;
}

nav {
	background-color: rgb(110, 196, 211);
	position: relative;
	height: 30px;
	
}

a {
	border: 1px solid black;
	padding: 2px;
	position: relative;
	top: 3px;
	left: 35px;
}

a:link {
	color: blue;
}

a:visited {
	color: rgb(56, 56, 136);
}

img.izquierda {
	float: left;
	height: 165px;
	width: 200px;
	margin:0px;
	padding:0px;
}

section.blue {
	background-color: white;
	color: blue;
	position: relative;
	margin: 0px;
	padding: 0px;
	
}
section.swhite {
	background-color: white;
	position: relative;
	height: 20px;

	margin: 0px;
	padding: 0px;
	
}

hr.blue {
	background-color: blue;
	height: 15px;	
	border: 0px;
	margin: 0px;
}

hr.blue2 {
	background-color: blue;
	height: 15px;
	position: relative;
	top: -30px;
	border: 0px;
}

p.desplazado {
	position: relative;
	top: -15px;
	font-weight: bold;
}

section.red {
	background-color: rgb(110, 196, 211);
	color: red;
	position: relative;
	margin: -1px;
}

img.derecha {
	float: right;
	height: 165px;
	width: 200px;
	position: relative;
	top: 20px;
	z-index: 1;
}

hr.red {
	background-color: red;
	height: 15px;
	position: relative;
	top: 20px;
	border: 0px;
}

hr.red2 {
	background-color: red;
	height: 15px;
	position: relative;
	top: -15px;
	border: 0px;
}

p.dos {
	font-weight: bold;
}

footer {
	background-color: lightsalmon;
	position: relative;
	top: -10px;
	margin: -1px;
	height: 75px;
}

hr.final {
	position: relative;
	top: 20px;
	background-color: rgb(110, 196, 211);
	height: 1px;
}

p.centrado {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 15px;
}

hr.white {
	box-sizing: content-box;
	background-color: white;
	height: 30px;	
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 0px;
	border: 0px; 
}